{% extends 'dcw_app/base.html' %}

<!--Block content goes below-->


  {% block content %}

    <div class="box">
    <form method="get" action="{% url 'index' %}">
      <div class="field">
        <label class="label">PESEL</label>
        <div class="control">
          <input class="input"  id="pesel" type="text" placeholder="Enter patient PESEL number" name="pesel">
        </div>
      </div>
      <div class="control">
        <button type="submit" class="button is-primary">Get data</button>
      </div>
    </form>
      {% if patient_data %}
      <table class="table">
          <tbody>
            <tr><th>PESEL</th><td>{{patient_data.pesel}}</td></tr>
            <tr><th>First name</th><td>{{patient_data.first_name}}</td></tr>
            <tr><th>Surname</th><td>{{patient_data.surname}}</td></tr>
            <tr><th>Age</th><td>{{patient_data.age}}</td></tr>
      </table>
      {% endif %}
      {% if data_error %}
        <p class="help is-danger">Problem with getting data</p>
      {% endif %}
    </div>


    {% if user.is_authenticated %}
    <div class="buttons">
      <a class="is-link" href="{% url 'logout' %}">Logout</a>
    </div>
    {% endif %}
  {% endblock %}